body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #c1e4e1;
}

.header-one {
    background-color: #25E4D5;
    height: 300px;
    padding: 16px 0 0 0;
}

.header-two {
    background-color: #25E4D5;
    height: 250px;
    padding: 16px 0 0 0;
}



.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-second {
    color: #F5E8DD;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 0.70%;
}

.header-per {
    color: #ff7575;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-name {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 0.70%;
}


.header-description {
    color: #25E4D5;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}
 
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #3eb8a3;
}

.navbar {
    background-color: #76abfc;
    display: flex;
    padding: 10px 20px;
}

.navbar .nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar .nav a {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.3s;
}

.navbar .nav a:hover {
    background-color: #ff02c8;
    box-shadow: 0 0 3px rgb(248, 247, 247);
}

.CalendarDay__selected_span {
    background: #dab3bb;
    border: 1px double #ffffff;
}

.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
    background: #EED3D9;
    border: 1px double #dab3bb;
    color: #fff;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-top: 26px solid transparent;
    border-right: 33px solid #b1c0d6;
    bottom: 0;
    right: 0;
}

.CalendarDay__selected_span:active, .CalendarDay__selected_span:hover {
    background: #ffffff;
    border: 1px double #fde977a1;
    color: #000000;
    background: #ffffff;
    border: 1px double #fde977a1;
    color: #000000;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th {
    background-color: #CCD3CA;
}

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    border-collapse: collapse;
    font-family: "Lato", sans-serif;
    font-size: 12.5px;
    --accent: rgb(14, 86, 241);
    --border: rgb(245, 241, 8);
    --text-color: #000000;
    --hover: #fdfdfd;
    --background-color-ellipses: #fdfdfd;
    --faded-text: #fafafa;
    --faded-text-header: #b4b4b4;
    --selected-background: rgba(192, 16, 118, 0.404);
    --faded-dropdown: #ff8297;
    --muted: #c8c8c8;
}
